*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  font-family: "SUIT", sans-serif;
  letter-spacing: -0.4px;
}
body{
  height: 100%;
}
@media only screen and (min-width: 1260px) {
  body {
    min-height: 700px;
    min-width: 1260px;
    background-color: red;
  }
}
#root{
  height: 100%;
  text-align: center;
}
a{
  text-decoration: none;
}
ul, li{
  list-style: none;
}
nav{
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: silver;
  padding: 10px;
}